*{
margin: 0%;
padding: 0%;
font-family: sans-serif;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    position: absolute;
    width: 1990px;
    height: 121px;
    left: 0px;
    top: 0px;
    
    background: rgba(39, 169, 6, 0.2);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.5px);   
}
.navbar a{
    position: absolute;
width: 175px;
height: 70.69px;
right: 66px;
top: 25px;


}
.navbar img{
    position: absolute;
width: 175px;
height: 70.69px;
left: 66px;
top: 25px;
}
.navbar h1{
   
width: 82900px;
height: 76px;

font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 76px;
/* identical to box height */

letter-spacing: 0.1em;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;




}